<a href="https://colab.research.google.com/github/syuan0525/python-base/blob/main/base1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  命名方式
  
  SchoolName ---->大駝峰(class名稱)

  school_name ---->蛇行

In [1]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
print(2/3)  #除
print(2//3)  #整除
print(2%3)  #求餘數
print(2**3)  #次方

0.6666666666666666
0
2
8

In [6]:
age = 20
year = 10
age = age + year  # age += year
print(age)

30

In [11]:
h = input("您的身高:")

print(h)
print(type(h))

您的身高:166
166
<class 'str'>

In [12]:
std = ["a","b","c"]
print(std)
print(type(std))
print(std[1])

['a', 'b', 'c']
<class 'list'>
b